<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Media</title>

    <style>#mapid { height: 500px; }</style>
    <!-- leaflet CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <!-- Bootstrap core CSS -->
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>

  <body id="Projects">
    <div id="mapid"></div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="studentFacilities">
          <label class="form-check-label" for="studentFacilities">Student facilities</label>
      <input type="checkbox" class="form-check-input" id="stores">
        <label class="form-check-label" for="stores">Stores</label>
      <input type="checkbox" class="form-check-input" id="personalFacilities">
        <label class="form-check-label" for="personalFacilities">Personal facilities</label>
      <input type="checkbox" class="form-check-input" id="uniFacilities">
        <label class="form-check-label" for="uniFacilities">University facilities</label>
    </div>

        <div class="container">
          <table class="table table-striped" id="comments_table">
            <thead>
              <tr>
                <th>Event</th>
                <th>Location</th>
                <th>Date</th>
                <th>Description</th>
                <th>Register</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
    </div>


    <div class="container">
      <table class="table table-striped" id="events_table">
        <thead>
          <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
            <th>Description</th>
            <th>Register</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
</div>


  </body>

<script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'random.js') }}"></script>


</html>
