<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    jfbefb
</body>
</html>

<script>



    let succ = false;
    let err = "";

    fetch('/hello',{
        // Specify the method
        method: 'POST'
    }).then(function (response) {
        return response.json();
    }).then(function (text) {
        console.log('POST response: ' + text);
    });

    function firstFunction(n){
        // do some asynchronous work
        // and when the asynchronous stuff is complete
        $.post( "/postmethod", {

            javascript_data: JSON.stringify(n)
        });
    }

    function info(){
        fetch('/login_success',{
            // Specify the method
            method: 'POST'
        }).then(function (response) {
            return response.text();
        }).then(function (text) {
            if (text === ""){
                succ = true;
            }else{
                err = text;
            }
        });
    }


    const sleep = (milliseconds) => {
        return new Promise(resolve => setTimeout(resolve, milliseconds))
    };

    function login(username, password){
        let n = {
            user: username,
            pass: password
        };
        firstFunction(n);
        sleep(1000).then(() => {
          info();
          sleep(500).then(() => {
              console.log(succ);
              console.log(err);
          });
        });
    }

    function create(username, password, mail_add) {
        var userinfo = {
            user: username,
            pass: password,
            email: mail_add
        };

        $.post("/createnew", {
            javascript_data: JSON.stringify(userinfo)
        });

        sleep(1000).then(() => {
            info();
            sleep(500).then(() => {
                console.log(succ);
                console.log(err);
            });
        });
    }

    create("joey", "1029384756", "joey.ngo@gmail.com");
    {#err = "";#}
    login("liko", "987654321");

</script>
